<%if (!isRejoin) { %>
<div class="no-animals-message new">
  Sorry, there are currently no animals available for this color. Please select
  another badge color.
</div>
<% } else { %>
<div class="no-animals-message rejoin">
  Sorry, there are currently no animals available for this color. Please select
  another badge color to rejoin your game.
</div>
<% } %>
