<div id="create-new-user-screen">
  <%- include('partials/color_picker', {isRejoin: false, colors: [{name: 'Red',
  id: 1}, {name: 'Yellow', id: 2}, {name: 'Green', id: 3}, {name: 'Blue', id:
  4}]}) %>

  <div id="user-creation-instructions">
    <img src="/images/userCreation/user_creation_instructions.png" />
    <button
      id="user-creation-instructions-button"
      onclick="showColorPicker()"
    ></button>
  </div>

  <div id="animal-options-instructions">Now choose your animal name</div>

  <%- include('partials/no_animal_options', {isRejoin: false}) %>

  <div id="animal-options-container"></div>

  <div id="confirmation-panel">
    <img
      id="confirmation-panel-image"
      src="/images/userCreation/confirmation_panel.png"
    />
    <button id="animal-confirmation-button" onclick="confirmAnimal()"></button>
    <button
      id="transition-to-riddles-button"
      onclick="transitionToRiddleScreen()"
    ></button>
  </div>
</div>
