<div id="create-new-user-screen">
  <div id="color-picker">
    <img src="/images/userCreation/color_picker.png" />
    <div id="color-options-container">
      <div id="option-red">
        <button
          id="button-red"
          class="color-button"
          onclick="selectColor('red', 1)"
        ></button>
        <img
          id="red-selected"
          class="color-selected"
          src="/images/userCreation/color_selected.png"
        />
      </div>

      <div id="option-yellow">
        <button
          id="button-yellow"
          class="color-button"
          onclick="selectColor('yellow', 2)"
        ></button>
        <img
          id="yellow-selected"
          class="color-selected"
          src="/images/userCreation/color_selected.png"
        />
      </div>

      <div id="option-green">
        <button
          id="button-green"
          class="color-button"
          onclick="selectColor('green', 3)"
        ></button>
        <img
          id="green-selected"
          class="color-selected"
          src="/images/userCreation/color_selected.png"
        />
      </div>

      <div id="option-blue">
        <button
          id="button-blue"
          class="color-button"
          onclick="selectColor('blue', 4)"
        ></button>
        <img
          id="blue-selected"
          class="color-selected"
          src="/images/userCreation/color_selected.png"
        />
      </div>
    </div>
  </div>
  <div id="user-creation-instructions">
    <img src="/images/userCreation/user_creation_instructions.png" />
    <button
      id="user-creation-instructions-button"
      onclick="showColorPicker()"
    ></button>
  </div>

  <div id="animal-options-instructions">Now choose your animal name</div>

  <div id="animal-options-container">
    <div class="animal-option">
      <div class="animal-icon-container">
        <img
          id="armadillo"
          class="animal-icon"
          src="/images/userCreation/badge_icon_armadillo.png"
        />
        <img
          id="armadillo-selected"
          class="animal-selected"
          src="/images/userCreation/animal_selected.png"
        />
      </div>
      <div class="animal-icon-text">Armadillo</div>
      <button
        id="button-armadillo"
        class="animal-button"
        onclick="selectAnimal('armadillo')"
      ></button>
    </div>
    <div class="animal-option">
      <div class="animal-icon-container">
        <img
          id="porcupine"
          class="animal-icon"
          src="/images/userCreation/badge_icon_porcupine.png"
        />
        <img
          id="porcupine-selected"
          class="animal-selected"
          src="/images/userCreation/animal_selected.png"
        />
      </div>
      <div class="animal-icon-text">Porcupine</div>
      <button
        id="button-porcupine"
        class="animal-button"
        onclick="selectAnimal('porcupine')"
      ></button>
    </div>
    <div class="animal-option">
      <div class="animal-icon-container">
        <img
          id="rabbit"
          class="animal-icon"
          src="/images/userCreation/badge_icon_hummingbird.png"
        />
        <img
          id="rabbit-selected"
          class="animal-selected"
          src="/images/userCreation/animal_selected.png"
        />
      </div>
      <div class="animal-icon-text">Rabbit</div>
      <button
        id="button-rabbit"
        class="animal-button"
        onclick="selectAnimal('rabbit')"
      ></button>
    </div>
    <div class="animal-option">
      <div class="animal-icon-container">
        <img
          id="squirrel"
          class="animal-icon"
          src="/images/userCreation/badge_icon_armadillo.png"
        />
        <img
          id="squirrel-selected"
          class="animal-selected"
          src="/images/userCreation/animal_selected.png"
        />
      </div>
      <div class="animal-icon-text">Squirrel</div>
      <button
        id="button-squirrel"
        class="animal-button"
        onclick="selectAnimal('squirrel')"
      ></button>
    </div>
    <div class="animal-option">
      <div class="animal-icon-container">
        <img
          id="fox"
          class="animal-icon"
          src="/images/userCreation/badge_icon_porcupine.png"
        />
        <img
          id="fox-selected"
          class="animal-selected"
          src="/images/userCreation/animal_selected.png"
        />
      </div>
      <div class="animal-icon-text">Fox</div>
      <button
        id="button-fox"
        class="animal-button"
        onclick="selectAnimal('fox')"
      ></button>
    </div>
    <div class="animal-option">
      <div class="animal-icon-container">
        <img
          id="hummingbird"
          class="animal-icon"
          src="/images/userCreation/badge_icon_hummingbird.png"
        />
        <img
          id="hummingbird-selected"
          class="animal-selected"
          src="/images/userCreation/animal_selected.png"
        />
      </div>
      <div class="animal-icon-text">Hummingbird</div>
      <button
        id="button-hummingbird"
        class="animal-button"
        onclick="selectAnimal('hummingbird')"
      ></button>
    </div>
    <div class="animal-option">
      <div class="animal-icon-container">
        <img
          id="dog"
          class="animal-icon"
          src="/images/userCreation/badge_icon_porcupine.png"
        />
        <img
          id="dog-selected"
          class="animal-selected"
          src="/images/userCreation/animal_selected.png"
        />
      </div>
      <div class="animal-icon-text">Dog</div>
      <button
        id="button-dog"
        class="animal-button"
        onclick="selectAnimal('dog')"
      ></button>
    </div>
    <div class="animal-option">
      <div class="animal-icon-container">
        <img
          id="prairie-dog"
          class="animal-icon"
          src="/images/userCreation/badge_icon_prairie_dog.png"
        />
        <img
          id="prairie-dog-selected"
          class="animal-selected"
          src="/images/userCreation/animal_selected.png"
        />
      </div>
      <div class="animal-icon-text">Prairie Dog</div>
      <button
        id="button-prairie-dog"
        class="animal-button"
        onclick="selectAnimal('prairie-dog')"
      ></button>
    </div>
  </div>

  <div id="confirmation-panel">
    <img
      id="confirmation-panel-image"
      src="/images/userCreation/confirmation_panel.png"
    />
    <button id="animal-confirmation-button" onclick="confirmAnimal()"></button>
  </div>
</div>
