<div id="create-new-user-page">
  <img
    id="create-new-user-panel"
    src="/images/userCreation/main_panel.png"
    class=""
    style="position: relative; z-index: 98; pointer-events: none"
  />
  <!-- Something wrong with bottom shadow image -->
  <!-- <img
    src="/images/userCreation/animalsHeaderShadow.png"
    class=""
    style="
      position: absolute;
      top: 696px;
      left: 282px;
      z-index: 97;
      width: 516px;
      height: 378px;
      box-shadow: 2px 0px 15px 0px rgba(0, 0, 0, 0.5);
    "
  /> -->
  <img
    id="colors-header"
    src="/images/userCreation/colors_header.png"
    class="follows-colors-slider slideable"
  />
  <img
    id="animals-header"
    src="/images/userCreation/animals_header.png"
    class="follows-animals-slider slideable"
  />

  <img
    src="/images/userCreation/colorsSlider.png"
    id="colors-slider"
    class="slide-on-tap slideable"
    style="
      position: absolute;
      top: 1130px;
      left: 0px;
      z-index: 96;
      transform: translateX(125px);
    "
  />
  <img
    src="/images/userCreation/animalsSlider.png"
    id="animals-slider"
    class="slide-on-tap slideable"
    style="
      position: absolute;
      top: 1355px;
      left: 0px;
      z-index: 96;
      transform: translateX(375px);
    "
    data=""
  />

  <button
    id="back-to-start-button"
    style="
      background: transparent;
      border: none !important;
      font-size: 0;
      position: absolute;
      top: 1638px;
      left: 145px;
      z-index: 98;
      width: 258px;
      height: 100px;
    "
  ></button>

  <button
    id="create-user-button"
    style="
      background: transparent;
      border: none !important;
      font-size: 0;
      position: absolute;
      top: 1638px;
      left: 529px;
      z-index: 98;
      width: 404px;
      height: 100px;
    "
  ></button>
  <div
    class="fixed-element"
    style="z-index: 95; pointer-events: none; background-color: #faf8f2"
  ></div>
</div>
