<div id="create-new-user-screen">
  <div class="vertical-center">
    <div class="colors-container"></div>

    <div class="animals-container"></div>

    <div class="button-container">
      <button onclick="createUser()" class="temp-button">Create User</button>
    </div>
  </div>
</div>
