<div id="create-new-user-screen">
  <img
    id="user-creation-instructions"
    src="/images/userCreation/user_creation_instructions.png"
  />
  <div class="vertical-center">
    <div id="create-new-user-colors-container" class="colors-container"></div>

    <div id="create-new-user-animals-container" class="animals-container"></div>

    <div class="button-container">
      <button onclick="createUser()" class="temp-button">Create User</button>
    </div>
  </div>
</div>
