<div id="exit-container">
  <img id="start-over-panel" class="exit-panel" src="/images/start_over.png" />
  <img
    id="save-exit-panel"
    class="exit-panel"
    src="/images/riddles/ui/save_exit_panel.png"
  />

  <button
    id="save-exit-button"
    class="exit-button"
    onclick="saveAndExit()"
  ></button>
  <button
    id="start-over-button"
    class="exit-button"
    onclick="startOver()"
  ></button>

  <button id="cancel-button" onclick="cancelExit()"></button>
  <button id="sign-out-button" onclick="saveAndExit()"></button>
</div>
