<div id="exit-container">
  <img id="save-exit-panel" src="/images/riddles/ui/save_exit_panel.png" />
  <button
    id="save-exit-button"
    class="exit-button"
    onclick="saveAndExit();"
  ></button>
  <button id="exit-button" class="exit-button" onclick="exit();"></button>
</div>
