<div id="inactivity-screen">
  <img id="inactivity-screen-modal" src="/images/inactivity_notice.png" />
  <button id="inactivity-stay-here" onclick="resetInactivityTimer()"></button>
  <button id="inactivity-sign-out" onclick="saveAndExit()"></button>
</div>
