<div id="inactivity-screen">
  <img id="inactivity-screen-modal" src="/images/inactivity_notice.png" />
  <button
    id="inactivity-stay-here"
    onclick="dismissInactivityScreen()"
  ></button>
  <button id="inactivity-sign-out" onclick="handleInactivitySignOut()"></button>
</div>
