<div id="login-screen">
  <div class="vertical-center">
    <div id="login-colors-container" class="colors-container"></div>

    <div id="login-animals-container" class="animals-container"></div>

    <div class="button-container">
      <button onclick="logInUser()" class="temp-button">Log In</button>
    </div>
  </div>
</div>
