<div id="rejoin-screen">
  <div id="rejoin-color-picker">
    <img
      id="rejoin-color-picker-panel"
      src="images/userCreation/rejoin_color_picker.png"
    />
    <div id="rejoin-color-options-container">
      <div class="rejoin-color-option">
        <div class="color-unavailability-indicator" data-color-id="1"></div>
        <button onclick="rejoinSelectColor('red', 1)"></button>
        <img
          id="rejoin-red-selected"
          class="rejoin-color-selection-icon"
          src="/images/userCreation/color_selected.png"
          data-color="Red"
          data-id="1"
        />
      </div>
      <div class="rejoin-color-option">
        <div class="color-unavailability-indicator" data-color-id="6"></div>

        <button onclick="rejoinSelectColor('orange', 6)"></button>
        <img
          id="rejoin-orange-selected"
          class="rejoin-color-selection-icon"
          src="/images/userCreation/color_selected.png"
          data-color="Orange"
          data-id="6"
        />
      </div>

      <div class="rejoin-color-option">
        <div class="color-unavailability-indicator" data-color-id="2"></div>
        <button onclick="rejoinSelectColor('yellow', 2)"></button>
        <img
          id="rejoin-yellow-selected"
          class="rejoin-color-selection-icon"
          src="/images/userCreation/color_selected.png"
          data-color="Yellow"
          data-id="2"
        />
      </div>
      <div class="rejoin-color-option">
        <div class="color-unavailability-indicator" data-color-id="3"></div>
        <button onclick="rejoinSelectColor('green', 3)"></button>
        <img
          id="rejoin-green-selected"
          class="rejoin-color-selection-icon"
          src="/images/userCreation/color_selected.png"
          data-color="Green"
          data-id="3"
        />
      </div>
      <div class="rejoin-color-option">
        <div class="color-unavailability-indicator" data-color-id="7"></div>
        <button onclick="rejoinSelectColor('brown', 7)"></button>
        <img
          id="rejoin-brown-selected"
          class="rejoin-color-selection-icon"
          src="/images/userCreation/color_selected.png"
          data-color="Brown"
          data-id="7"
        />
      </div>
      <div class="rejoin-color-option">
        <div class="color-unavailability-indicator" data-color-id="4"></div>
        <button onclick="rejoinSelectColor('blue', 4)"></button>
        <img
          id="rejoin-blue-selected"
          class="rejoin-color-selection-icon"
          src="/images/userCreation/color_selected.png"
          data-color="Blue"
          data-id="4"
        />
      </div>
      <div class="rejoin-color-option">
        <div class="color-unavailability-indicator" data-color-id="5"></div>
        <button onclick="rejoinSelectColor('purple', 5)"></button>
        <img
          id="rejoin-purple-selected"
          class="rejoin-color-selection-icon"
          src="/images/userCreation/color_selected.png"
          data-color="Purple"
          data-id="5"
        />
      </div>
      <div class="rejoin-color-option">
        <div class="color-unavailability-indicator" data-color-id="8"></div>
        <button onclick="rejoinSelectColor('silver', 8)"></button>
        <img
          id="rejoin-silver-selected"
          class="rejoin-color-selection-icon"
          src="/images/userCreation/color_selected.png"
          data-color="Silver"
          data-id="8"
        />
      </div>
    </div>
  </div>

  <div id="scrollable-container">
    <div id="rejoin-animal-options-container"></div>
  </div>

  <%- include('partials/no_animal_options', {isRejoin: true}) %>

  <div id="rejoin-confirmation-panel">
    <img
      id="confirmation-panel-image"
      src="/images/rejoin_confirmation_panel.png"
    />
    <button
      id="animal-confirmation-button"
      onclick="confirmRejoinAnimal()"
    ></button>
  </div>
</div>
