<div id="rejoin-screen">
  <div id="rejoin-color-picker">
    <img src="/images/userCreation/color_picker.png" />
    <div id="rejoin-color-picker-instructions">
      To rejoin your game, select your badge color
    </div>
    <div id="rejoin-color-options-container">
      <div id="option-red">
        <button
          id="button-red"
          class="color-button"
          onclick="rejoinSelectColor('red', 1)"
        ></button>
        <img
          id="rejoin-red-selected"
          class="rejoin-color-selection-icon"
          src="/images/userCreation/color_selected.png"
          data-color="Red"
          data-id="1"
        />
      </div>

      <div id="option-yellow">
        <button
          id="button-yellow"
          class="color-button"
          onclick="rejoinSelectColor('yellow', 2)"
        ></button>
        <img
          id="rejoin-yellow-selected"
          class="rejoin-color-selection-icon"
          src="/images/userCreation/color_selected.png"
          data-color="Yellow"
          data-id="2"
        />
      </div>

      <div id="option-green">
        <button
          id="button-green"
          class="color-button"
          onclick="rejoinSelectColor('green', 3)"
        ></button>
        <img
          id="rejoin-green-selected"
          class="rejoin-color-selection-icon"
          src="/images/userCreation/color_selected.png"
          data-color="Green"
          data-id="3"
        />
      </div>

      <div id="option-blue">
        <button
          id="button-blue"
          class="color-button"
          onclick="rejoinSelectColor('blue', 4)"
        ></button>
        <img
          id="rejoin-blue-selected"
          class="rejoin-color-selection-icon"
          src="/images/userCreation/color_selected.png"
          data-color="Blue"
          data-id="4"
        />
      </div>
    </div>
  </div>

  <div id="scrollable-container">
    <div id="rejoin-animal-options-container"></div>
  </div>

  <div id="rejoin-confirmation-panel">
    <img
      id="confirmation-panel-image"
      src="/images/rejoin_confirmation_panel.png"
    />
    <button
      id="animal-confirmation-button"
      onclick="confirmRejoinAnimal()"
    ></button>
  </div>
</div>
