<div id="riddle-screen">
  <img
    id="riddle-screen-confirmation-dummy"
    src="/images/userCreation/confirmation_panel.png"
  />
  <div id="riddle-text">
    <img id="riddle-text-layer" src="/images/riddles/ui/riddleTextLayer.png" />
    <div id="riddle-couplets-container">
      <div id="couplet-1" class="couplet couplet-1">
        <div class="couplet-text"></div>
        <div class="couplet-text"></div>
      </div>
      <div id="couplet-2" class="couplet couplet-2">
        <div class="couplet-text"></div>
        <div class="couplet-text"></div>
      </div>
      <div id="couplet-3" class="couplet couplet-3">
        <div class="couplet-text"></div>
        <div class="couplet-text"></div>
      </div>
    </div>
  </div>

  <div id="riddle-container">
    <div id="selection-layer">
      <img id="selection-panel" src="/images/riddles/ui/selectionPanel.png" />

      <div id="riddle-headline">
        <span>Riddle Me This!</span>
      </div>

      <div id="answer-options-container">
        <div id="option-1">
          <img id="icon-back-1" src="" class="icon-back" />
          <img id="icon-front-1" src="" class="icon-front" />
          <div id="option-text-1" class="option-text"></div>
          <button id="option-click-area-1" class="option-click-area"></button>
        </div>
        <div id="option-2">
          <img id="icon-back-2" src="" class="icon-back" />
          <img id="icon-front-2" src="" class="icon-front" />
          <div id="option-text-2" class="option-text"></div>
          <button id="option-click-area-2" class="option-click-area"></button>
        </div>
        <div id="option-3">
          <img id="icon-back-3" src="" class="icon-back" />
          <img id="icon-front-3" src="" class="icon-front" />
          <div id="option-text-3" class="option-text"></div>
          <button id="option-click-area-3" class="option-click-area"></button>
        </div>
        <div id="option-4">
          <img id="icon-back-4" src="" class="icon-back" />
          <img id="icon-front-4" src="" class="icon-front" />
          <div id="option-text-4" class="option-text"></div>
          <button id="option-click-area-4" class="option-click-area"></button>
        </div>
      </div>

      <div id="hint-count-layer">
        <img
          id="hint-count-foreground"
          src="/images/riddles/ui/hintCountForeground.png"
        />
      </div>

      <div id="fox-cub">
        <img src="/images/riddles/ui/foxCub.png" />
      </div>
    </div>
  </div>

  <div id="riddle-answer">
    <div id="answer-correct-text" class="answer-text">
      That's right! The answer is
    </div>
    <div id="answer-incorrect-text" class="answer-text">
      Oops! The correct answer is
    </div>
    <div id="answer-choice-text">Armadillo!</div>
    <div id="answer-details" class="answer-text"></div>
    <div id="answer-frame"></div>
    <img id="answer-img" />
  </div>

  <button id="next-riddle-button" onclick="showNewRiddle()"></button>

  <!-- <div class="flight-path">
    <img src="/images/hummingbird_flying.png" class="flyer" />
  </div> -->
</div>
