<div id="riddle-screen">
  <img src="/images/riddle/headerPanel.png" id="header-panel" />

  <img id="save-exit-panel" src="/images/riddle/saveExitPanel.png" />

  <div id="status-wheel"></div>
  <div id="status-text-current" class="status-text-wrapper current-text">
    <span class="status-text">LOAD CLUES</span>
  </div>
  <div id="status-text-next" class="status-text-wrapper next-text">
    <span class="status-text"></span>
  </div>
  <!-- -80, -36, 0 -->

  <img id="header-panel-shadow" src="/images/riddle/headerPanelShadow.png" />

  <img id="riddle-text-layer" src="/images/riddle/riddleTextLayer.png" />

  <div id="riddle-container">
    <div id="selection-layer">
      <img id="selection-panel" src="/images/riddle/selectionPanel.png" />

      <!-- Clickable Selection Icons -->
      <div id="clickable-selection-layer">
        <button
          id="selection-icon-1-clickable"
          class="selection-icon-clickable selection-icon-1-clickable"
        ></button>
        <button
          id="selection-icon-2-clickable"
          class="selection-icon-clickable selection-icon-2-clickable"
        ></button>
        <button
          id="selection-icon-3-clickable"
          class="selection-icon-clickable selection-icon-3-clickable"
        ></button>
        <button
          id="selection-icon-4-clickable"
          class="selection-icon-clickable selection-icon-4-clickable"
        ></button>
      </div>

      <!-- Icon Layer -->
      <div id="icon-layer">
        <img
          id="selection-icon-1"
          src="/images/riddle/selectionIcon1.png"
          class="selection-icon"
        />
        <img
          id="selection-icon-2"
          src="/images/riddle/selectionIcon2.png"
          class="selection-icon"
        />
        <img
          id="selection-icon-3"
          src="/images/riddle/selectionIcon3.png"
          class="selection-icon"
        />
        <img
          id="selection-icon-4"
          src="/images/riddle/selectionIcon4.png"
          class="selection-icon"
        />
      </div>

      <!-- Icon Backing Layer -->
      <img
        id="selection-icon-backing"
        src="/images/riddle/selectionIconsBack.png"
      />

      <div id="hint-count-layer">
        <img
          id="hint-count-foreground"
          src="/images/riddle/hintCountForeground.png"
        />
      </div>
    </div>
  </div>

  <img id="riddle-solution" src="/images/riddle/riddleSolution.png" />
  <img id="how-to-play" src="/images/riddle/howToPlay.png" />

  <button id="next-riddle-button"></button>
</div>
