<div id="riddle-screen">
  <div id="header-panel">
    <img id="header-panel-base" src="/images/riddles/ui/header_panel.png" />
    <img id="save-exit-panel" src="/images/riddles/ui/saveExitPanel.png" />

    <!-- Temporary Demo Banner -->
    <img
      id="in-development-banner"
      src="/images/temp_banner.png"
      style="position: absolute; left: 293px; z-index: 287"
    />

    <div id="status-wheel-container">
      <div id="status-wheel"></div>
      <div id="status-text-current" class="status-text-wrapper current-text">
        <span class="status-text">GOOD LUCK</span>
      </div>
      <div id="status-text-next" class="status-text-wrapper next-text">
        <span class="status-text"></span>
      </div>
    </div>

    <div id="badge-container">
      <img id="badge-base" src="/images/userCreation/badge_yellow.png" />
      <img id="badge-icon" src="/images/userCreation/badge_hummingbird.png" />
      <div id="badge-text-container">
        <div id="color-animal-text">Yellow Hummingbird</div>
        <div id="scout-text">JUNIOR SCOUT</div>
      </div>
      <!-- <div id="badge-text-container-copy">
        <div id="color-animal-text">Yellow Wolf</div>
        <div id="scout-text">JUNIOR SCOUT</div>
      </div> -->
    </div>
  </div>

  <img
    id="header-panel-shadow"
    src="/images/riddles/ui/headerPanelShadow.png"
  />

  <div id="riddle-text">
    <img id="riddle-text-layer" src="/images/riddles/ui/riddleTextLayer.png" />
    <div id="riddle-couplets-container">
      <div id="couplet-1" class="couplet couplet-1">
        <div class="couplet-text">You'll find me in the brush to the East,</div>
        <div class="couplet-text">hunting for a termite feast.</div>
      </div>
      <div id="couplet-2" class="couplet couplet-2">
        <div class="couplet-text">You'll find me in the brush to the East,</div>
        <div class="couplet-text">hunting for a termite feast.</div>
      </div>
      <div id="couplet-3" class="couplet couplet-3">
        <div class="couplet-text">You'll find me in the brush to the East,</div>
        <div class="couplet-text">hunting for a termite feast.</div>
      </div>
    </div>
  </div>

  <div id="riddle-container">
    <div id="selection-layer">
      <img id="selection-panel" src="/images/riddles/ui/selectionPanel.png" />

      <div id="riddle-headline">
        <span>Riddle Me This!</span>
      </div>

      <div id="clickable-selection-layer">
        <button
          id="selection-icon-1-clickable"
          class="selection-icon-clickable selection-icon-1-clickable"
        ></button>
        <button
          id="selection-icon-2-clickable"
          class="selection-icon-clickable selection-icon-2-clickable"
        ></button>
        <button
          id="selection-icon-3-clickable"
          class="selection-icon-clickable selection-icon-3-clickable"
        ></button>
        <button
          id="selection-icon-4-clickable"
          class="selection-icon-clickable selection-icon-4-clickable"
        ></button>
      </div>

      <div id="icon-layer">
        <img
          id="selection-icon-1"
          src="/images/riddles/icons/prairie_dog.png"
          class="selection-icon icon-1"
        />
        <img
          id="selection-icon-2"
          src="/images/riddles/icons/armadillo.png"
          class="selection-icon icon-2"
        />
        <img
          id="selection-icon-3"
          src="/images/riddles/icons/porcupine.png"
          class="selection-icon icon-3"
        />
        <img
          id="selection-icon-4"
          src="/images/riddles/icons/swift_fox.png"
          class="selection-icon icon-4"
        />
      </div>

      <div id="icon-backing-layer">
        <img
          id="icon-backing-1"
          src="/images/riddles/ui/answer_backing_correct.png"
          class="selection-icon icon-1 icon-backing"
        />
        <img
          id="icon-backing-2"
          src="/images/riddles/ui/answer_backing_wrong_1.png"
          class="selection-icon icon-2 icon-backing"
        />
        <img
          id="icon-backing-3"
          src="/images/riddles/ui/answer_backing_wrong_2.png"
          class="selection-icon icon-3 icon-backing"
        />
        <img
          id="icon-backing-4"
          src="/images/riddles/ui/answer_backing_wrong_3.png"
          class="selection-icon icon-4 icon-backing"
        />
      </div>

      <div id="selection-text-layer">
        <div id="selection-text-1" class="selection-text">
          Minorus Prairie Dog
        </div>
        <div id="selection-text-2" class="selection-text">Swift Armadillo</div>
        <div id="selection-text-3" class="selection-text">
          Purple Coneflower
        </div>
        <div id="selection-text-4" class="selection-text">
          Swift Fox Terrier
        </div>
      </div>

      <div id="hint-count-layer">
        <img
          id="hint-count-foreground"
          src="/images/riddles/ui/hintCountForeground.png"
        />
      </div>
    </div>
  </div>

  <div id="riddle-answer">
    <div id="answer-correct-text" class="answer-text">
      That's right! The answer is
    </div>
    <div id="answer-incorrect-text" class="answer-text">
      Oops! The correct answer is
    </div>
    <div id="answer-choice-text">Armadillo!</div>
    <div id="answer-details" class="answer-text">
      In Cherokee, I'm called ᎤᏯᏍᎦᎳ(uyasgatli). I'm known as a symbol of strong
      protection and healthy personal boundaries.
    </div>
    <div id="answer-frame"></div>
    <img id="answer-img" src="/images/riddles/answers/armadillo.png" />
  </div>

  <img id="how-to-play" src="/images/riddles/ui/howToPlay.png" />

  <button id="next-riddle-button"></button>

  <!-- <div class="flight-path">
    <img src="/images/hummingbird_flying.png" class="flyer" />
  </div> -->
</div>
