<div id="riddle-screen">
  <img src="/images/riddles/headerPanel.png" id="header-panel" />

  <img id="save-exit-panel" src="/images/riddles/saveExitPanel.png" />

  <div id="status-wheel"></div>
  <div id="status-text-current" class="status-text-wrapper current-text">
    <span class="status-text">LOAD CLUES</span>
  </div>
  <div id="status-text-next" class="status-text-wrapper next-text">
    <span class="status-text"></span>
  </div>
  <!-- -80, -36, 0 -->

  <img id="header-panel-shadow" src="/images/riddles/headerPanelShadow.png" />

  <div id="riddle-text">
    <img id="riddle-text-layer" src="/images/riddles/riddleTextLayer.png" />
    <div id="riddle-couplets-container">
      <div class="couplet couplet-1">
        <div class="couplet-text">You'll find me in the brush to the East,</div>
        <div class="couplet-text">hunting for a termite feast.</div>
      </div>
      <div class="couplet couplet-2">
        <div class="couplet-text">You'll find me in the brush to the East,</div>
        <div class="couplet-text">hunting for a termite feast.</div>
      </div>
      <div class="couplet couplet-3">
        <div class="couplet-text">You'll find me in the brush to the East,</div>
        <div class="couplet-text">hunting for a termite feast.</div>
      </div>
    </div>
  </div>

  <div id="riddle-container">
    <div id="selection-layer">
      <img id="selection-panel" src="/images/riddles/selectionPanel.png" />

      <!-- Clickable Selection Icons -->
      <div id="clickable-selection-layer">
        <button
          id="selection-icon-1-clickable"
          class="selection-icon-clickable selection-icon-1-clickable"
        ></button>
        <button
          id="selection-icon-2-clickable"
          class="selection-icon-clickable selection-icon-2-clickable"
        ></button>
        <button
          id="selection-icon-3-clickable"
          class="selection-icon-clickable selection-icon-3-clickable"
        ></button>
        <button
          id="selection-icon-4-clickable"
          class="selection-icon-clickable selection-icon-4-clickable"
        ></button>
      </div>

      <!-- Icon Layer -->
      <div id="icon-layer">
        <img
          id="selection-icon-1"
          src="/images/riddles/icons/prairie_dog.png"
          class="selection-icon"
        />
        <img
          id="selection-icon-2"
          src="/images/riddles/icons/armadillo.png"
          class="selection-icon"
        />
        <img
          id="selection-icon-3"
          src="/images/riddles/icons/porcupine.png"
          class="selection-icon"
        />
        <img
          id="selection-icon-4"
          src="/images/riddles/icons/swift_fox.png"
          class="selection-icon"
        />
      </div>

      <!-- Icon Backing Layer -->
      <img
        id="selection-icon-backing"
        src="/images/riddles/selectionIconsBack.png"
      />

      <div id="hint-count-layer">
        <img
          id="hint-count-foreground"
          src="/images/riddles/hintCountForeground.png"
        />
      </div>
    </div>
  </div>

  <img id="riddle-solution" src="/images/riddles/riddleSolution.png" />
  <img id="how-to-play" src="/images/riddles/howToPlay.png" />

  <button id="next-riddle-button"></button>
</div>
