<div id="start-screen">
  <img src="/images/startScreen.png" />

  <button id="new-game-button" onclick="lowerStartScreen();"></button>
  <button
    id="rejoin-game-button"
    onclick="lowerStartScreen(); showRejoinGameScreen();"
  ></button>
  <button
    id="use-phone-button"
    onclick="lowerStartScreen(); showUsePhoneScreen();"
  ></button>
</div>
