<div id="start-screen">
  <img
    src="/images/start_screen_no_rejoin.png"
    style="position: absolute; bottom: 0"
  />
  <img src="/images/startScreen.png" />

  <button
    id="new-game-button"
    onclick="lowerStartScreen(); showCreateNewUserScreen();"
  ></button>
  <!-- <button
    id="rejoin-game-button"
    onclick="lowerStartScreen(); showRejoinGameScreen();"
  ></button> -->
  <button
    id="use-phone-button"
    onclick="lowerStartScreen(); showUsePhoneScreen();"
  ></button>
</div>
