<div id="start-screen">
  <img src="/images/startScreen.png" />

  <button
    id="new-game-button"
    onclick="hideStartScreen(); showCreateNewUserScreen();"
  ></button>
  <button
    id="rejoin-game-button"
    onclick="hideStartScreen(); showRejoinGameScreen();"
  ></button>
  <button
    id="use-phone-button"
    onclick="hideStartScreen(); showUsePhoneScreen();"
  ></button>
</div>
