<div id="start-screen" class="fixed-element show-again" style="z-index: 100">
  <img src="/images/startScreen.png" />
  <button
    id="start-new-game-button"
    style="
      background: transparent;
      border: none !important;
      font-size: 0;
      position: absolute;
      top: 811px;
      left: 177px;
      z-index: 100;
      width: 724px;
      height: 145px;
    "
  ></button>
  <button
    id="rejoin-game-button"
    style="
      background: transparent;
      border: none !important;
      font-size: 0;
      position: absolute;
      top: 1004px;
      left: 177px;
      z-index: 101;
      width: 724px;
      height: 145px;
    "
  ></button>
  <button
    id="use-phone-button"
    style="
      background: transparent;
      border: none !important;
      font-size: 0;
      position: absolute;
      top: 1348px;
      left: 177px;
      z-index: 101;
      width: 724px;
      height: 145px;
    "
  ></button>
</div>
