<div id="start-screen">
  <% if (isVisitor) { %>
  <img src="/images/visitor_start_screen.png" />
  <button
    id="visitor-new-game-button"
    onclick="lowerStartScreen(); showCreateNewUserScreen();"
  ></button>
  <button
    id="visitor-rejoin-game-button"
    onclick="lowerStartScreen(); showRejoinGameScreen();"
  ></button>
  <% } else { %>
  <img src="/images/startScreen.png" />
  <button
    id="museum-new-game-button"
    onclick="lowerStartScreen(); showCreateNewUserScreen();"
  ></button>
  <button
    id="museum-rejoin-game-button"
    onclick="lowerStartScreen(); showRejoinGameScreen();"
  ></button>
  <button
    id="use-phone-button"
    onclick="lowerStartScreen(); showUsePhoneScreen();"
  ></button>
  <% } %>
</div>
