<div id="use-phone-screen">
  <button id="use-phone-back-button" onclick="returnToStartScreen();"></button>
  <img src="/images/use_phone.png" />
  <div id="version-text">
    <div><%- date %></div>
    <div>v. b73d571fe6aa254f2bb21351eba8acb54f007e66</div>
  </div>
</div>
