<div id="use-phone-screen">
  <button
    id="use-phone-back-button"
    onclick="returnToStartScreen();setUsePhoneScreenToDisplayNone();"
  ></button>
  <img src="/images/use_phone.png" />
  <div id="version-text">
    <div>Refreshed: <%- date %></div>
    <div>Updated: Oct 3, 2025</div>
  </div>
</div>
