<div id="user-panel">
  <img id="user-panel-base" src="/images/riddles/ui/user_panel_base.png" />

  <div id="status-wheel-container">
    <div id="status-wheel"></div>
    <div id="status-text-current" class="status-text-wrapper current-text">
      <span class="status-text">WELCOME</span>
    </div>
    <div id="status-text-next" class="status-text-wrapper next-text">
      <span class="status-text"></span>
    </div>
  </div>

  <div id="badge-container">
    <img id="badge-base" src="/images/userCreation/badge_gray.png" />
    <div id="badge-icon-container">
      <img id="badge-icon-1" class="badge-icon" />
      <img id="badge-icon-2" class="badge-icon" />
    </div>
    <div id="badge-text-container">
      <div id="color-animal-text"></div>
    </div>
  </div>

  <img id="user-panel-shadow" src="/images/riddles/ui/user_panel_shadow.png" />
</div>
