@font-face {
  font-family: "Gotham";
  src: url("/fonts/Gotham-Medium.eot");
  src: url("/fonts/Gotham-Medium.eot") format("embedded-opentype"),
    url("/fonts/Gotham-Medium.woff2") format("woff2"),
    url("/fonts/Gotham-Medium.woff") format("woff"),
    url("/fonts/Gotham-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Enriqueta";
  src: url("/fonts/Enriqueta-Regular.eot");
  src: url("/fonts/Enriqueta-Regular.eot") format("embedded-opentype"),
    url("/fonts/Enriqueta-Regular.woff2") format("woff2"),
    url("/fonts/Enriqueta-Regular.woff") format("woff"),
    url("/fonts/Enriqueta-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Enriqueta SemiBold";
  src: url("/fonts/Enriqueta SemiBold.eot");
  src: url("/fonts/Enriqueta SemiBold.eot") format("embedded-opentype"),
    url("/fonts/Enriqueta SemiBold.woff2") format("woff2"),
    url("/fonts/Enriqueta SemiBold.woff") format("woff"),
    url("/fonts/Enriqueta SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "Noto Sans Cherokee";
  font-stretch: 100% to 200%;
  font-style: normal;
  font-weight: 400 to 700;
  src: url(/fonts/NotoSansCherokee-Regular.ttf) format("truetype");
}

* {
  user-select: none;
}

html,
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  touch-action: none;
  overscroll-behavior: none;
  width: 100vw;
  height: 100vh;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f1ece1;
}

#container {
  width: 1080px;
  height: 1920px;
  position: relative;
  transform-origin: center center;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.3), 0 10px 20px rgba(0, 0, 0, 0.2);
}

#clip-path {
  width: 1080px;
  height: 1920px;
  position: relative;
  transform-origin: center center;
  overflow: clip;
}

button {
  background: transparent;
  border: none !important;
  font-size: 0;
}

.fixed-element {
  position: relative;
  top: 0;
  left: 0;
}

.slideable {
  transition: transform 0.3s ease;
}

.hide-on-tap {
  display: block;
}

#riddle-screen {
  z-index: 79;
}

#header-panel {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 79;
}

#header-panel-base {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 79;
}

#badge-container {
  position: absolute;
  top: 115px;
  left: 561px;
  z-index: 79;
}

#badge-icon {
  position: absolute;
  top: 119px;
  left: 37px;
}

#badge-text-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  top: 149px;
  left: 218px;
  height: 150px;
  width: 225px;
  transform: rotate(6.05deg);
}

#color-animal-text {
  font-family: "Gotham";
  font-size: 30px;
  line-height: 1.15;
  letter-spacing: 1.01px;
  color: white;
}

#scout-text {
  font-family: "Gotham";
  font-size: 24px;
  line-height: 1.6;
  letter-spacing: 1.03px;
  color: #1f2d30;
}

#save-exit-panel {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 78;
}

#status-wheel {
  background-color: #faf8f2;
  position: absolute;
  top: 463px;
  left: 359px;
  width: 360px;
  height: 91px;
  z-index: 77;
}

.status-text-wrapper {
  display: flex;
  top: -459px;
  left: 362px;
  position: absolute;
  z-index: 78;
  width: 355px;
  height: 1003px;
  justify-content: center;
  transition: transform 1s ease-in;
}

.status-text {
  font-family: "Gotham";
  font-size: 30px;
  letter-spacing: 0.02em;
  text-align: center;
  white-space: nowrap;
  align-self: flex-end;
  justify-content: center;
  padding: 22px 82px 22px 82px;
}

.current-text {
  transform: rotate(0deg);
}

.previous-text {
  transform: rotate(36deg);
}

.next-text {
  transform: rotate(-36deg);
}

#header-panel-shadow {
  position: absolute;
  top: 516px;
  left: 0px;
  z-index: 75;
}

#riddle-text {
  align-items: center;
  position: relative;
  top: 1750px;
  left: 0px;
  transition: transform 1s ease-in;
  z-index: 73;
  display: flex;
  flex-direction: column;
}

#riddle-couplets-container {
  position: absolute;
  top: 176px;
  z-index: 73;
}

.couplet {
  font-family: "Enriqueta";
  font-size: 46px;
  line-height: 1.5;
  letter-spacing: 0.01em;
  display: flex;
  flex-direction: column;
}

.couplet-1 {
  align-items: center;
}

.couplet-2 {
  align-items: center;
  margin-top: 78px;
}
.couplet-3 {
  align-items: center;
  margin-top: 78px;
}

#riddle-container {
  position: absolute;
  width: 100%;
  transition: transform 1s ease-in;
  z-index: 75;
}

#selection-layer {
  top: 1282px;
  width: 100%;
  position: relative;
  transition: transform 800ms ease-in;
  z-index: 77;
}

#riddle-headline {
  position: absolute;
  top: -841px;
  width: 100%;
  font-family: "Enriqueta SemiBold";
  font-size: 58px;
  letter-spacing: 0em;
  color: #c54132;
  z-index: 77;
  display: flex;
  justify-content: center;
}

#selection-panel {
  position: relative;
  top: -926px;
  z-index: 76;
}

#answer-options-container {
  width: 100%;
  position: absolute;
  top: -750px;
}

#option-1 {
  width: 234px;
  position: absolute;
  left: 66px;
}

#option-2 {
  width: 234px;
  position: absolute;
  left: 304px;
}

#option-3 {
  width: 234px;
  position: absolute;
  left: 544px;
}

#option-4 {
  width: 234px;
  position: absolute;
  left: 782px;
}

.icon-back {
  position: absolute;
  z-index: 74;
}

.icon-front {
  position: absolute;
  z-index: 75;
}

.option-text {
  position: absolute;
  top: 227px;
  width: 230px;
  height: 144px;
  margin-left: 2px;
  font-family: "Enriqueta";
  font-size: 36px;
  text-align: center;
  line-height: 1.2;
  z-index: 76;
}

.option-click-area {
  position: absolute;
  width: 100%;
  height: 318px;
  padding: 0px;
  background: transparent;
  z-index: 90;
}

#hint-count-layer {
  position: absolute;
  top: -350px;
  left: 434px;
  width: 393px;
  height: 40px;
  background-color: white;
  z-index: 75;
}

#hint-count-foreground {
  position: absolute;
  top: 0px;
  left: 0px;
}

#riddle-answer {
  display: none;
  position: absolute;
  top: 0px;
  left: 0px;
  max-width: 1080px;
  height: 100%;
  flex-direction: column;
  padding-left: 8%;
  padding-right: 8%;
  background-color: #bdd2d4;
  z-index: 71;
}

.answer-text {
  font-family: "Enriqueta";
  font-size: 46px;
  line-height: 1.1em;
  letter-spacing: 0.01em;
}

#answer-correct-text {
  margin-top: 639px;
  display: none;
}

#answer-incorrect-text {
  margin-top: 639px;
  display: none;
}

#answer-choice-text {
  font-family: "Enriqueta SemiBold";
  font-size: 72px;
  line-height: 1.1em;
  letter-spacing: 0.01em;
  margin-top: 12px;
}

#answer-details {
  font-family: "Enriqueta";
  font-size: 46px;
  line-height: 1.5;
  letter-spacing: 0.01em;
  margin-top: 44px;
}

#answer-frame {
  position: absolute;
  left: 145px;
  top: 1193px;
  width: 770px;
  height: 500px;
  transform: rotate(-2deg);
  background-color: #faf8f2;
  border-radius: 5px;
  box-shadow: 4px 6px 10px rgba(0, 0, 0, 0.25);
}

#answer-img {
  position: absolute;
  left: 171px;
  top: 1222px;
  width: 720px;
  height: 450px;
  transform: rotate(-2deg);
  border-radius: 5px;
}

#how-to-play {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 70;
  pointer-events: none;
}

#next-riddle-button {
  background: transparent;
  border: none !important;
  font-size: 0;
  position: absolute;
  left: 351px;
  top: 1758px;
  width: 382px;
  height: 106px;
  z-index: 80;
}

.cherokee {
  font-family: "Noto Sans Cherokee";
}

#fox-cub {
  position: absolute;
  top: 36px;
  left: 0px;
  transform: scale(0.68);
  z-index: 76;
  pointer-events: none;
}

/* .flight-path {
  position: absolute;
  top: 200px;
  left: 0;
  width: 10%;
  animation: leftRight 6s infinite linear;
  z-index: 100;
}

.flyer {
  position: absolute;
  animation: upDown 1.5s alternate infinite ease-in-out;
  width: 200%;
  z-index: 100;
}

@keyframes upDown {
  to {
    transform: translatey(100px);
  }
}
@keyframes leftRight {
  to {
    transform: translatex(900%);
  }
} */
