@font-face {
  font-family: "Gotham";
  src: url("/fonts/Gotham-Medium.eot");
  src: url("/fonts/Gotham-Medium.eot") format("embedded-opentype"),
    url("/fonts/Gotham-Medium.woff2") format("woff2"),
    url("/fonts/Gotham-Medium.woff") format("woff"),
    url("/fonts/Gotham-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Enriqueta";
  src: url("/fonts/Enriqueta-Regular.eot");
  src: url("/fonts/Enriqueta-Regular.eot") format("embedded-opentype"),
    url("/fonts/Enriqueta-Regular.woff2") format("woff2"),
    url("/fonts/Enriqueta-Regular.woff") format("woff"),
    url("/fonts/Enriqueta-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Enriqueta SemiBold";
  src: url("/fonts/Enriqueta SemiBold.eot");
  src: url("/fonts/Enriqueta SemiBold.eot") format("embedded-opentype"),
    url("/fonts/Enriqueta SemiBold.woff2") format("woff2"),
    url("/fonts/Enriqueta SemiBold.woff") format("woff"),
    url("/fonts/Enriqueta SemiBold.ttf") format("truetype");
}

html,
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  touch-action: none;
  overscroll-behavior: none;
  width: 100vw;
  height: 100vh;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f1ece1;
}

#container {
  width: 1080px;
  height: 1920px;
  position: relative;
  transform-origin: center center;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.3), 0 10px 20px rgba(0, 0, 0, 0.2);
}

#clip-path {
  width: 1080px;
  height: 1920px;
  position: relative;
  transform-origin: center center;
  overflow: clip;
}

button {
  background: transparent;
  border: none !important;
  font-size: 0;
}

.fixed-element {
  position: relative;
  top: 0;
  left: 0;
}

.slideable {
  transition: transform 0.3s ease;
}

.hide-on-tap {
  display: block;
}

#riddle-screen {
  z-index: 79;
}

#header-panel {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 79;
}

#save-exit-panel {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 78;
}

/* #status-wheel {
  position: absolute;
  top: -707px;
  left: -200px;
  width: 1495px;
  height: 1495px;
  transition: transform 1s ease-in;
  rotate: -36deg;
  z-index: 77;
} */

#status-wheel {
  background-color: #faf8f2;
  position: absolute;
  top: 463px;
  left: 359px;
  width: 360px;
  height: 91px;
  z-index: 77;
}

.status-text-wrapper {
  display: flex;
  top: -459px;
  left: 362px;
  position: absolute;
  z-index: 78;
  width: 355px;
  height: 1003px;
  justify-content: center;
  transition: transform 1s ease-in;
}

.status-text {
  font-family: "Gotham";
  font-size: 30px;
  letter-spacing: 0.02em;
  text-align: center;
  white-space: nowrap;
  align-self: flex-end;
  justify-content: center;
  padding: 22px 82px 22px 82px;
}

.red-background {
  background-color: red;
  border-radius: 60px;
}

.current-text {
  transform: rotate(0deg);
}

.previous-text {
  transform: rotate(36deg);
}

.next-text {
  transform: rotate(-36deg);
}

#header-panel-shadow {
  position: absolute;
  top: 516px;
  left: 0px;
  z-index: 75;
}

#riddle-text {
  align-items: center;
  position: relative;
  top: 1750px;
  left: 0px;
  transition: transform 1s ease-in;
  z-index: 73;
  display: flex;
  flex-direction: column;
}

#riddle-couplets-container {
  position: absolute;
  top: 175px;
  z-index: 73;
}

.couplet {
  font-family: "Enriqueta";
  font-size: 46px;
  line-height: 1.5;
  letter-spacing: 0.01em;
  display: flex;
  flex-direction: column;
}

.couplet-1 {
  align-items: center;
}

.couplet-2 {
  align-items: center;
  margin-top: 77px;
}
.couplet-3 {
  align-items: center;
  margin-top: 77px;
}

#riddle-container {
  position: absolute;
  transition: transform 1s ease-in;
  z-index: 75;
}

#selection-layer {
  top: 1268px;
  position: relative;
  transition: transform 800ms ease-in;
  z-index: 77;
}

#riddle-headline {
  position: absolute;
  top: -841px;
  width: 100%;
  font-family: "Enriqueta SemiBold";
  font-size: 58px;
  letter-spacing: 0em;
  color: #e43d34;
  z-index: 77;
  display: flex;
  justify-content: center;
}

#selection-panel {
  position: relative;
  top: -926px;
  left: -10px;
  z-index: 76;
}

.selection-icon-clickable {
  position: absolute;
  top: -728px;
  width: 207px;
  height: 318px;
  background: transparent;
  z-index: 90;
}

.selection-icon-1-clickable {
  left: 80px;
}

.selection-icon-2-clickable {
  left: 317px;
}

.selection-icon-3-clickable {
  left: 556px;
}

.selection-icon-4-clickable {
  left: 794px;
}

/* .selection-icon {
  position: relative;
  top: -2195px;
  left: 66px;
  z-index: 75;
} */

.selection-icon {
  position: absolute;
  top: -731px;
  z-index: 75;
}

.icon-1 {
  left: 71px;
}

.icon-2 {
  left: 307px;
}

.icon-3 {
  left: 543px;
}

.icon-4 {
  left: 782px;
}

.icon-backing {
  z-index: 74;
}

#hint-count-layer {
  position: absolute;
  top: -336px;
  left: 440px;
  width: 393px;
  height: 40px;
  background-color: white;
  z-index: 75;
}

#hint-count-foreground {
  position: absolute;
  top: 0px;
  left: 0px;
}

#riddle-solution {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  display: none;
  z-index: 71;
}

#how-to-play {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 70;
  pointer-events: none;
}

#next-riddle-button {
  background: transparent;
  border: none !important;
  font-size: 0;
  position: absolute;
  left: 351px;
  top: 1758px;
  width: 382px;
  height: 106px;
  z-index: 80;
}
